* {
  margin: 3%;
}

body {
  background-color: #dddd;
}

.App {
  text-align: center;
}

@import url('https://fonts.googleapis.com/css?family=Cabin:400');

html {font-size: 125%;}

@media only screen and (max-width: 750px){
  html {font-size: 55%;} 
  }

body {
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
}

p {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 4.209rem;
}

h2 {font-size: 3.157rem;}

h3 {font-size: 2.369rem;}

h4 {font-size: 1.777rem;}

h5 {font-size: 1.333rem;}

small, .text_small {font-size: 0.75rem;}

.author {
  text-align: right;
} 